[submodule "home/.vim/bundle/AnsiEsc.vim"]
	path = home/.vim/bundle/AnsiEsc.vim
	url = git@github.com:vim-scripts/AnsiEsc.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "home/.vim/bundle/tcomment_vim"]
	path = home/.vim/bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "home/.vim/bundle/vim-bats"]
	path = home/.vim/bundle/vim-bats
	url = git@github.com:markcornick/vim-bats.git
[submodule "home/.vim/bundle/vim-colorschemes"]
	path = home/.vim/bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "home/.vim/bundle/vim-dispatch"]
	path = home/.vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-go"]
	path = home/.vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "home/.vim/bundle/vim-projectionist"]
	path = home/.vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "home/.vim/bundle/vim-scriptease"]
	path = home/.vim/bundle/vim-scriptease
	url = git@github.com:tpope/vim-scriptease.git
[submodule "home/.vim/bundle/vim-sensible"]
	path = home/.vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git

# vim: noet:sts=8:sw=8:ts=8:tw=79
