[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-bats"]
	path = .vim/bundle/vim-bats
	url = git@github.com:markcornick/vim-bats.git
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-ruby-refactoring"]
	path = .vim/bundle/vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring.git
[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = git@github.com:tpope/vim-scriptease.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git

# vim: noet:sts=8:sw=8:ts=8:tw=79
